.collapsible {
  background-color: #4437cf;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: 2px;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  font-color:black;
}

.active, .collapsible:hover {
  background-color: #7552d6;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
  width:47.3%;
  color: #1F1F1F;